@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

body 
{
    background-color: #33FFFF;
    font-family: 'Times New Roman', Times, serif;
}

.form 
{
    width: 600px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 50px;
    background: white;
}

input[type="text"]
{
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 10px;
    border: 1px solid lightgrey;
    background: #232c3d;
    width: 300px; 
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.controls 
{
    width: 150px;
    margin: 30px auto;
}
  
#sil 
{
    float: right;
}

a 
{
    color: black;
    text-decoration: none;
}

h1 
{
    text-align: center;
    font-size: 50px;
    color: #232c3d;
}

table
{
    background: #232c3d;
    margin:5px;
    width: 100%;
    color:#fff;
}

td,th{

    border:1px solid white;
    border-spacing: 0px;
    margin: 0px;
}